section.hero {
  padding: 5rem;
  height: 30rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  background-image: radial-gradient(
      circle at 30% 50%,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.2)
    ),
    url("src/assets/images/download.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  section.hero-description {
    text-align: start;
    max-width: 600px;
    padding-inline: 1rem;
    padding-top: 1rem;

    h1 {
      font-size: 42px;
      color: var(--accent);
      margin-bottom: 12px;
    }

    p {
      color: white;
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      margin-top: -10px;
      margin-bottom: 30px;
    }
  }

  .explore {
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: var(--accent);
    color: white;
  }

  .explore:hover {
    background: var(--accent-light);
  }
}
