.header {
    background: transparent;
    position: absolute;
    padding: 20px;
    width: 100%;
    z-index: 10;

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        
        div {
            .logo {
            font-size: 25px;
            font-family: 'Georgia', serif;
            color: var(--accent);
            display: inline-block;
            margin-right: 25px;
        }
            a {
                text-decoration: none;
                color: #f9f9f9;
                font-size: 16px;
                margin-right: 25px;
            }
            
            a:hover {
                color: var(--accent);
            }
        }
    }
}