.header {
  background: transparent;
  position: absolute;
  padding: 20px;
  width: 100%;
  z-index: 10;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
      .logo {
        font-size: 25px;
        font-family: "Georgia", serif;
        color: var(--accent);
        display: inline-block;
        margin-right: 25px;
      }
      a {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        text-decoration: none;
        color: #000000;
        font-size: 18px;
        margin-right: 25px;
        position: relative;
        padding-bottom: 2px;
      }

      a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--accent);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease;
      }

      a:hover {
        color: var(--accent);
      }

      a:hover::after {
        transform: scaleX(1);
      }
    }
  }
}
