footer#foot-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  background-color: #f5ebe9;

  h1#foot-title {
    font-size: 3.5em;
    font-style: normal;
    color: white;
  }

  div.foot-invoices {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;

    h2 {
      color: white;
      font-size: 2.5em;
      font-style: normal;
    }

    hgroup.links-section {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 30px;

      h3 {
        a {
          display: block;
          color: white;
          font-size: clamp(1.4em, 1.6em, 2em);
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 1230px) {
  footer#foot-section {
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;

    h1#foot-title {
      font-size: 6.5em;
      font-style: normal;
      color: white;
    }
  }
}
